@charset "UTF-8";
#container {
    position: top;
    width: 80%;
    margin: 5% auto;
    background-color: black;
    box-shadow: -2px -2px 5px white, 2px -2px 5px white;
}

#container>nav {
    width: 100%;
    display: flex;
    max-height: 60px;
}

#logo {
    line-height: 60px;
    font-size: 30px;
    padding: 0 50px;
    color: white;
    width: 40%;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px;
}

#container>nav>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 50px;
    /*   min-width:60%; */
}

#container>nav>ul>li {
    line-height: 60px;
    margin: 0 0px;
    padding: 0;
    text-align: center;
    display: inline-block;
    /*   background-color:green; */
    min-width: 120px;
}

#container>nav>ul>li>a {
    position: relative;
    /*   background-color:red; */
    margin: 0 20px;
    color: white;
}

#container>nav>ul>li:hover {
    border-bottom: 2px solid white;
    background-color: #0088ff;
}

#container>nav>ul>.dropdown:hover {
    border-bottom: none;
}

#container>nav>ul>.dropdown:hover>.dd {
    display: block;
}

.dropdown:hover>a .fa-caret-down {
    display: none;
}

a {
    text-decoration: none;
}

#container>nav>ul>li>div {
    position: absolute;
    padding: 0 10px;
    background-color: black;
    display: none;
    background-color: aliceblue;
    min-width: 100px;
}

#container>nav>ul>li>div>ul {
    margin: 0px 0 10px 0;
    padding: 0;
    list-style: none;
}

#u_a_c {
    position: relative;
    width: 100%;
    /*   background-color:red; */
}

#up_arrow {
    position: relative;
    width: 20px;
    height: 20px;
    left: 42%;
    top: -10px;
    background-color: aliceblue;
    transform: rotate(45deg);
}

#container>nav>ul>li>div>ul>li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#container>nav>ul>li>div>ul>li>a {
    padding: 5px;
    color: black;
}

.form-control:focus {
    box-shadow: none !important;
}

.bg-light {
    background-color: transparent !important;
}

.banner {
    background: url("../img1/141.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin-top: -150px;
}

.text-section {
    padding-top: 280px;
}

.text-section h1 {
    font-family: "Poppins";
    color: #0c0c0b;
    font-size: 42px;
    font-weight: bold;
}

.text-section p {
    font-family: "Lato";
    color: #000000;
    font-size: 16px;
    padding-top: 20px;
}

.upperx {
    margin-top: -56px;
    padding-bottom: 20px;
}

#target {
    background-color: rgba(254, 138, 76, 0.8);
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
}

.top-form {
    margin-top: -109px;
}

.vanish {
    display: none;
}

.form {
    background-color: rgba(254, 138, 76, 0.8);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -74px;
}

.input-group-text {
    border-radius: 10px !important;
    background-color: white;
    border-color: white !important;
}

.input-group-prepend {
    margin-right: -10px !important;
}

.form-control {
    border-radius: 10px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-color: white !important;
}

.form-btn {
    background-color: #484F8C;
    border-radius: 10px;
    border-color: #484F8C;
}

.d-part {
    background-color: #FAF9F7;
    padding-bottom: 80px;
}

.offer-part,
.blog-part,
.why-us-part {
    background-color: #FFF8EE;
    padding-bottom: 80px;
}

.destination,
.offer,
.blog,
.about-part,
.testimonial-part {
    padding-top: 80px;
    padding-bottom: 50px;
}

.insta {
    background-color: #FAF9F7;
    padding-top: 80px;
    padding-bottom: 90px;
}

.owl-theme .owl-nav {
    display: none;
}

.flex-container {
    display: flex;
}

.slider-control-1 {
    float: right;
    font-size: 27px;
    color: #FE8A4C;
    font-weight: 200;
    margin-top: -792px;
    padding-right: 17px;
}

.slider-control-2 {
    float: right;
    font-size: 27px;
    color: #FE8A4C;
    font-weight: 200;
    margin-top: -865px;
    padding-right: 17px;
}

.slider-control-3 {
    float: right;
    font-size: 27px;
    color: #FE8A4C;
    font-weight: 200;
    padding-right: 17px;
    margin-top: -522px;
}

.slider-control-4 {
    font-size: 26px;
    color: #FE8A4C;
    font-weight: 200;
    padding-right: 17px;
    margin-top: -53px;
    z-index: 11;
    position: absolute;
    margin-left: 440px;
    background-color: white;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-top: 6px;
}

.slider-control-5 {
    font-size: 26px;
    color: #FE8A4C;
    font-weight: 200;
    padding-right: 17px;
    margin-top: -52px;
    z-index: 11;
    padding: absolute;
    position: absolute;
    margin-left: 315px;
    background-color: white;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-top: 8px;
}

.prebtn-a,
.prebtn-b,
.prebtn-c,
.prebtn-d,
.prebtn-e {
    padding-right: 10px;
}

.inner-item {
    margin-right: 20px;
    margin-bottom: 20px;
}

.inner-item h3 {
    padding-top: 10px;
    font-size: 20px;
    font-family: "Poppins";
}

.inner-item h6 {
    font-family: "Lato";
    font-size: 16px;
    color: #62605D;
}

.checked {
    color: orange;
}

.tour-time h5:before {
    font-family: "Font Awesome 5 Free";
    content: "";
    padding-right: 2px;
}

.tour-time h5 {
    font-size: 16px;
    font-family: "Lato";
}

.bottom {
    background-color: #FAECD7;
    border-color: #FAECD7;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card {
    border: none;
}

.card-img-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 250px;
}

.insta {
    text-align: center;
}

.post img {
    height: 360px;
}

.insta h3 {
    padding-bottom: 40px;
    font-family: "Poppins";
    font-size: 32px;
}

.why-us-part h3 {
    padding-bottom: 60px;
    font-family: "Poppins";
    font-size: 32px;
}

.destination h3,
.offer h3,
.blog h3,
.about-part h3,
.testimonial h3 {
    font-family: "Poppins";
    font-size: 32px;
}

.insta h5,
.why-us-part h5,
.destination h5,
.offer h5,
.blog h5,
.about-part h5,
.testimonial h5 {
    font-family: "Poppins";
    font-size: 18px;
    color: #D1D1CE;
}

.blog-part img {
    height: 250px;
    border-radius: 10px !important;
}

.blog-item h6 {
    padding-top: 10px;
}

.blog-item h3 {
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 5px;
}

.blog-item p {
    font-size: 15px;
    font-family: "Lato";
}

.owl-four img {
    border-radius: none;
    padding-left: 115px;
}

.owl-five img {
    border-radius: 0px !important;
    padding-right: 115px;
}

.btn btn-primary contacts-btn {
    background-color: #484F8C;
    border-radius: 10px;
    border-color: #484F8C;
    font-size: 16px;
    font-family: "Poppins";
    padding-right: 35px;
    padding-left: 35px;
}

.about-btn,
.subscribe-btn {
    background-color: #484F8C;
    border-radius: 10px;
    border-color: #484F8C;
    font-size: 16px;
    font-family: "Poppins";
    padding-right: 35px;
    padding-left: 35px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background: linear-gradient(90deg, rgba(47, 54, 64, 1) 23%, rgba(24, 27, 32, 1) 100%);
}

.moon {
    background: linear-gradient(90deg, rgba(208, 208, 208, 1) 48%, rgba(145, 145, 145, 1) 100%);
    position: absolute;
    top: -100px;
    left: -300px;
    width: 900px;
    height: 900px;
    content: '';
    border-radius: 100%;
    box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.5);
}

.moon__crater {
    position: absolute;
    content: '';
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(122, 122, 122, 1) 38%, rgba(195, 195, 195, 1) 100%);
    opacity: 0.6;
}

.moon__crater1 {
    top: 250px;
    left: 500px;
    width: 60px;
    height: 180px;
}

.moon__crater2 {
    top: 650px;
    left: 340px;
    width: 40px;
    height: 80px;
    transform: rotate(55deg);
}

.moon__crater3 {
    top: -20px;
    left: 40px;
    width: 65px;
    height: 120px;
    transform: rotate(250deg);
}

.star {
    background: grey;
    position: absolute;
    width: 5px;
    height: 5px;
    content: '';
    border-radius: 100%;
    transform: rotate(250deg);
    opacity: 0.4;
    animation-name: shimmer;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shimmer {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}

.star1 {
    top: 40%;
    left: 50%;
    animation-delay: 1s;
}

.star2 {
    top: 60%;
    left: 90%;
    animation-delay: 3s;
}

.star3 {
    top: 10%;
    left: 70%;
    animation-delay: 2s;
}

.star4 {
    top: 90%;
    left: 40%;
}

.star5 {
    top: 20%;
    left: 30%;
    animation-delay: 0.5s;
}

.error {
    position: absolute;
    left: 100px;
    top: 400px;
    transform: translateY(-60%);
    font-family: 'Righteous', cursive;
    color: #363e49;
}

.error__title {
    font-size: 10em;
}

.error__subtitle {
    font-size: 2em;
}

.error__description {
    opacity: 0.5;
}

.error__button {
    min-width: 7em;
    margin-top: 3em;
    margin-right: 0.5em;
    padding: 0.5em 2em;
    outline: none;
    border: 2px solid #2f3640;
    background-color: transparent;
    border-radius: 8em;
    color: #576375;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 0.75em;
    font-family: 'Righteous', cursive;
}

.error__button:hover {
    color: #21252c;
}

.error__button--active {
    background-color: #e67e22;
    border: 2px solid #e67e22;
    color: white;
}

.error__button--active:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    color: white;
}

.astronaut {
    position: absolute;
    width: 185px;
    height: 300px;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(20deg) scale(1.2);
}

.astronaut__head {
    background-color: white;
    position: absolute;
    top: 60px;
    left: 60px;
    width: 60px;
    height: 60px;
    content: '';
    border-radius: 2em;
}

.astronaut__head-visor-flare1 {
    background-color: #7f8fa6;
    position: absolute;
    top: 28px;
    left: 40px;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 2em;
    opacity: 0.5;
}

.astronaut__head-visor-flare2 {
    background-color: #718093;
    position: absolute;
    top: 40px;
    left: 38px;
    width: 5px;
    height: 5px;
    content: '';
    border-radius: 2em;
    opacity: 0.3;
}

.astronaut__backpack {
    background-color: #bfbfbf;
    position: absolute;
    top: 90px;
    left: 47px;
    width: 86px;
    height: 90px;
    content: '';
    border-radius: 8px;
}

.astronaut__body {
    background-color: #e6e6e6;
    position: absolute;
    top: 115px;
    left: 55px;
    width: 70px;
    height: 80px;
    content: '';
    border-radius: 8px;
}

.astronaut__body__chest {
    background-color: #d9d9d9;
    position: absolute;
    top: 140px;
    left: 68px;
    width: 45px;
    height: 25px;
    content: '';
    border-radius: 6px;
}

.astronaut__arm-left1 {
    background-color: #e6e6e6;
    position: absolute;
    top: 127px;
    left: 9px;
    width: 65px;
    height: 20px;
    content: '';
    border-radius: 8px;
    transform: rotate(-30deg);
}

.astronaut__arm-left2 {
    background-color: #e6e6e6;
    position: absolute;
    top: 102px;
    left: 7px;
    width: 20px;
    height: 45px;
    content: '';
    border-radius: 8px;
    transform: rotate(-12deg);
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
}

.astronaut__arm-right1 {
    background-color: #e6e6e6;
    position: absolute;
    top: 113px;
    left: 100px;
    width: 65px;
    height: 20px;
    content: '';
    border-radius: 8px;
    transform: rotate(-10deg);
}

.astronaut__arm-right2 {
    background-color: #e6e6e6;
    position: absolute;
    top: 78px;
    left: 141px;
    width: 20px;
    height: 45px;
    content: '';
    border-radius: 8px;
    transform: rotate(-10deg);
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
}

.astronaut__arm-thumb-left {
    background-color: #e6e6e6;
    position: absolute;
    top: 110px;
    left: 21px;
    width: 10px;
    height: 6px;
    content: '';
    border-radius: 8em;
    transform: rotate(-35deg);
}

.astronaut__arm-thumb-right {
    background-color: #e6e6e6;
    position: absolute;
    top: 90px;
    left: 133px;
    width: 10px;
    height: 6px;
    content: '';
    border-radius: 8em;
    transform: rotate(20deg);
}

.astronaut__wrist-left {
    background-color: #e67e22;
    position: absolute;
    top: 122px;
    left: 6.5px;
    width: 21px;
    height: 4px;
    content: '';
    border-radius: 8em;
    transform: rotate(-15deg);
}

.astronaut__wrist-right {
    background-color: #e67e22;
    position: absolute;
    top: 98px;
    left: 141px;
    width: 21px;
    height: 4px;
    content: '';
    border-radius: 8em;
    transform: rotate(-10deg);
}

.astronaut__leg-left {
    background-color: #e6e6e6;
    position: absolute;
    top: 188px;
    left: 50px;
    width: 23px;
    height: 75px;
    content: '';
    transform: rotate(10deg);
}

.astronaut__leg-right {
    background-color: #e6e6e6;
    position: absolute;
    top: 188px;
    left: 108px;
    width: 23px;
    height: 75px;
    content: '';
    transform: rotate(-10deg);
}

.astronaut__foot-left {
    background-color: white;
    position: absolute;
    top: 240px;
    left: 43px;
    width: 28px;
    height: 20px;
    content: '';
    transform: rotate(10deg);
    border-radius: 3px;
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
    border-bottom: 4px solid #e67e22;
}

.astronaut__foot-right {
    background-color: white;
    position: absolute;
    top: 240px;
    left: 111px;
    width: 28px;
    height: 20px;
    content: '';
    transform: rotate(-10deg);
    border-radius: 3px;
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
    border-bottom: 4px solid #e67e22;
}

.nextbtn-a i,
.prebtn-a i,
.nextbtn-b i,
.prebtn-b i,
.nextbtn-c i,
.prebtn-c i,
.nextbtn-d i,
.prebtn-d i,
.nextbtn-e i,
.prebtn-e i {
    border: 2px solid;
    border-radius: 134px;
    padding-right: 11px;
    padding-left: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.nextbtn-a i:hover,
.prebtn-a i:hover,
.nextbtn-b i:hover,
.prebtn-b i:hover,
.nextbtn-c i:hover,
.prebtn-c i:hover,
.nextbtn-d i:hover,
.prebtn-d i:hover,
.nextbtn-e i:hover,
.prebtn-e i:hover {
    background-color: #FE8A4C;
    color: white;
    border-color: #FE8A4C;
}

.why-us-part {
    text-align: center;
    padding-top: 80px;
}

.whyus-bottom {
    padding-top: 60px;
}

.whyus-top h5,
.whyus-top p,
.whyus-bottom h5,
.whyus-bottom p {
    text-align: left;
}

.whyus-card {
    border-radius: 10px;
    box-shadow: 0px 2px 19px -4px rgba(0, 0, 0, 0.43);
}

.card-body img {
    float: right;
    margin-top: -38px;
    margin-right: 10px;
}

.card-title {
    padding-top: 40px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    color: black !important;
}

.card-text {
    padding-bottom: 40px;
    font-family: "Lato";
    font-size: 16px;
}

.testimonial p,
.about-part p {
    padding-bottom: 20px;
    font-family: "Lato";
    color: #0c0c0c;
    font-size: 16px;
}

.test-title {
    margin-left: -180px;
}

.test-title h4 {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
}

.test-title h6 {
    font-family: "Lato";
    font-size: 16px;
    color: #070707;
}

.subscribe {
    background-color: #FE8A4C;
    padding-top: 40px;
    padding-bottom: 40px;
}

.button-part,
.subscribe-form {
    background-color: white;
}

.subscribe-text h2 {
    font-family: "Poppins";
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.subscribe-form {
    margin-bottom: 27px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Poppins";
}

.subscribe-btn {
    margin-left: 9px;
    padding-left: 46px;
    padding-right: 46px;
}

.footer {
    padding-top: 60px;
}

.logo-part img {
    width: 100px;
}

.logo-part p {
    font-family: "Lato";
    font-size: 14px;
    color: #0a0a0a;
}

.footer-social-media ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer-social-media ul li {
    display: inline-block;
    padding: 0px 5px;
    color: #020202;
}

.footer-social-media ul li a {
    font-size: 14px;
    color: #050505;
}

.links ul li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    padding-bottom: 15px;
    color: #050505;
}

.links ul li a {
    text-decoration: none;
    font-family: "Lato";
    color: #080808;
    padding-bottom: 15px;
}

.links li,
.contact-footer li {
    list-style: none;
    margin: 0px;
    font-size: 14px;
    padding-bottom: 8px;
    color: #050505;
}

.links h5,
.contact-footer h5,
.payment h5 {
    padding-left: 35px;
    font-family: "Poppins";
    font-size: 22px;
    color: #080808;
    font-weight: 600;
    padding-bottom: 20px;
}

.payment img {
    float: right;
    width: 217px;
}

.ct-part p {
    float: right;
}

.footer-text {
    padding-top: 40px;
}

.footer-text p {
    font-family: "Lato";
    font-size: 14px;
    color: #080808;
}

@media (max-width: 767px) {
    .text-section h1 {
        font-size: 32px;
    }
    .text-section p {
        color: #050505;
        font-size: 15px;
    }
    .input-group {
        padding-bottom: 10px;
    }
    .slider-control-1 {
        float: left;
        margin-top: -880px;
        padding-right: 0px;
    }
    .owl-one,
    .owl-two,
    .owl-three {
        padding-top: 20px;
    }
    .slider-control-2 {
        float: left;
        margin-top: -875px;
        padding-right: 0px;
    }
    .post img {
        height: 344px;
        padding-bottom: 20px;
    }
    .slider-control-3 {
        float: left;
        padding-right: 0px;
        margin-top: -537px;
    }
    .owl-four img {
        padding-left: 0px;
        padding-top: 10px;
    }
    .slider-control-4 {
        margin-left: 0px;
    }
    .whyus-card {
        margin-bottom: 35px;
    }
    .whyus-bottom {
        padding-top: 0px;
    }
    .owl-five img {
        padding-right: 0px;
    }
    .slider-control-5 {
        margin-left: -1px;
    }
    .offer {
        padding-top: 60px;
    }
    .d-part {
        padding-bottom: 40px;
    }
    .testimonial h5 {
        padding-top: 10px;
    }
    .test-title {
        margin-left: 90px;
        margin-top: -68px;
    }
    .button-part {
        margin-left: 55px;
    }
    .links h5,
    .contact-footer h5,
    .payment h5 {
        padding-top: 10px;
        padding-left: 0px;
        padding-bottom: 0px;
    }
    .links ul li {
        padding-bottom: 0px;
    }
    .links ul,
    .contact-footer ul {
        padding-left: 0px;
    }
    .payment img,
    .ct-part p {
        float: left;
    }
    .logo-part img {
        width: 161px;
    }
    .subscribe-form {
        margin: 10px;
    }
}